@model WebApplication5.Models.StudentModel
<h1>Edit Student</h1>

<form asp-action="Edit">
    <div>
        <label asp-for="Indeks"></label>
        <input readonly asp-for="Indeks" />
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Surname"></label>
        <input asp-for="Surname" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <input type="submit" value="Zapisz" />
</form>
<a asp-action="Index">Powrót</a>